* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('ross-parmly-25230-unsplash_2000_optim.jpg');
  background-position: right;
  background-size: cover;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

h1 {
  align-items: center;
  display: flex;
  font-size: calc(1.5em + 1vh + 1vw);
  height: 100px;
  justify-content: center;
}

h1, label, .itinerary {
  color: white;
  text-shadow: black 1px 1px 3px;
}

.typeahead fieldset {
  border: none;
  margin-top: 10px;
}

.typeahead input {
  height: 2.2em;
  opacity: 0.8;
  text-align: center;
  width: 100%;
}

.typeahead input:not(:focus) {
  border: none;
}

.typeahead .suggestions {
  background-color: white;
  border: 1px solid black;
  border-top: none;
  font-size: 0.8em;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.typeahead .suggestion {
  border-bottom: 1px dashed black;
  padding: 5px;
}

.typeahead .suggestion:last-child {
  border-bottom: none;
}

.typeahead .suggestion .highlight {
  background-color: #FFEB3B;
  font-weight: bold;
  text-decoration: underline;
}

.itinerary {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: calc(1em + 1vh + 1vw);
  justify-content: center;
}

@media(min-width: 600px) {
  .typeaheads {
    display: flex;
    justify-content: center;
  }

  .typeahead {
    flex-grow: 1;
    margin: 10px;
    max-width: 600px;
  }

  .typeahead .suggestions {
    max-width: 600px;
  }
}
