* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

iframe {
  border: none;
  flex: 1;
  max-width: 1220px;
  width: 100%;
}

body {
  background-image: url('ross-parmly-25230-unsplash_2000_optim.jpg');
  background-position: right;
  background-size: cover;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

header {
  align-items: center;
  display: flex;
  flex-basis: 80px;
  flex-shrink: 1;
  justify-content: center;
  margin-bottom: -10px;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

h1 {
  font-size: calc(1.5em + 1.5vw);
}

h1, label, .itinerary {
  color: white;
  text-shadow: black 1px 1px 3px;
}

.typeahead {
  margin-top: 10px;
}

.typeahead fieldset {
  border: none;
}

.typeahead input {
  height: 2.2em;
  opacity: 0.8;
  text-align: center;
  width: 100%;
}

.suggestions {
  background-color: white;
  font-size: 0.8em;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.suggestion {
  border-bottom: 1px dashed black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 5px;
}

.suggestion:last-child {
  border-bottom: 1px solid black;
}

.highlight {
  background-color: #FFEB3B;
  font-weight: bold;
  text-decoration: underline;
}

.itinerary {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}

.itinerary p {
  font-size: calc(1em + 1vw);
  margin: 5px;
}

@media(min-width: 600px) {
  header {
    flex-basis: 100px;
  }

  .typeaheads {
    display: flex;
    justify-content: center;
  }

  .typeahead {
    flex-grow: 1;
    margin: 10px;
    max-width: 600px;
  }

  .suggestions {
    max-width: 600px;
    width: calc(50% - 20px);
  }

  .itinerary p {
    margin: 15px;
  }
}
